{% extends "base.html" %}
{% block aboveBar %}
  <div class="content3">
  {% ifnotequal ldapName "" %}
    {% if userGroups %}
      <div id="group">
      <p id="groupManagement" class="uppercase"><img src= "/images/gifty_bug_bow-blue.png" width="43" height="20" /><a href="/createGroup?n={{ nickname }}">Create / Edit Group</a></p>
		  <form id="groupForm">		  
		  <img src= "/images/gifty_bug_bow-red.png" width="30" height="20" /><label for="groupSelection" class="uppercase">Select group:</label>
			<select onchange="goTo()" id="urlList">
			<option value="">--Select--</option>
			{% for group in userGroups %}
		    <option value="?gid={{ group.key.id }}&n={{ nickname }}">{{ group.groupName|escape }}</option>
			{% endfor %}
			</select>
		  </form>
	    </div>
	  {% else %}
		  <p>You don't belong to any groups yet. <a href="/createGroup?n={{ nickname }}">Start a new group</a> and invite your friends & family to join!</p>
		  <p>Additionally, check out your "User Settings" in the upper-right corner for ways to customize your Gifty account.</p>
	  {% endif %}
  {% endifnotequal %}
{% endblock aboveBar %}
  
{% block content %} {% comment %} This statement determines whether to display the gift list content {% endcomment %}
 
  {% ifequal ldapName "" %}
    {{ block.super }}
  {% else %}
      {% ifnotequal nameInURL "" %}
      
        {% comment %} Messy code to determine whether to highlight the "My List" tab {% endcomment %}
        <ul id="navigation">
        <br />
        {% ifequal nameInURL nickname %}
          <li><a href="?gid={{ thisGroup }}&n={{ nickname }}" class="linkgreen green"><strong>My List</strong></a></li>
        {% else %}
          <li><a href="?gid={{ thisGroup }}&n={{ nickname }}" class="linkgreen"><strong>My List</strong></a></li>
        {% endifequal %}
        
        {% for tuple in validNames %}
          {% ifnotequal ldapName tuple.0 %}
            {% ifequal nameInURL tuple.1 %}
                <li><a href="?gid={{ thisGroup }}&n={{ tuple.1 }}" class="linkgreen green"><strong>{{ tuple.1 }}</strong></a></li>
            {% else %}
                <li><a href="?gid={{ thisGroup }}&n={{ tuple.1 }}" class="linkgreen"><strong>{{ tuple.1 }}</strong></a></li>
            {% endifequal %}
          {% endifnotequal %}
        {% endfor %}
        </ul>
        
      <div id="main">
        
      {% comment %} This determines whether the page you're looking at is the person who's logged in, or another member {% endcomment %}
        {% ifequal nameInURL nickname %}
        <h2>My List</h2>
          {% comment %} This is the form for entering gifts. {% endcomment %}        
          <h4>Gifts I want:</h4>
          <form action="/enterGift?gid={{ thisGroup }}&n={{ nameInURL }}" method="post" style="margin-bottom:20px;">
            <table>
            <tr>
            <td class="uppercase">Description:</td>
            <td><input type="text" style="width:200" maxlength=200 name="giftDescription"></td>
			<td class="uppercase">Link (optional):</td>
			<td><input type="text" style="width:200" maxlength=200 name="giftLink"></td>
			<td><input type="submit" value="Add"></td>
			</tr>
            </table>
          </form>
          
          <ul class="uppercase">
          {% comment %} 0:id, 1:date, 2:description, 3:link, 4:purchaser, 5:giftmodified {% endcomment %}
          {% for gifts in myGiftList %}
          	<li style="margin-bottom:5px;">
            {% ifnotequal gifts.3 "" %} 
                <a href="{{ gifts.3 }}" target="_blank">{{ gifts.2|escape }}</a>
            {% else %}
                {{ gifts.2|escape }}
            {% endifnotequal %}
            - <em class="date">added {{ gifts.1 }}</em> <a href="/editGift?gid={{ thisGroup }}&id={{ gifts.0 }}&n={{ nickname }}"><em class="giftEdited">edit/delete</em></a></li>
          {% endfor %}
          </ul>
          
          <h4>Gifts I'm purchasing:</h4>
          <ul class="uppercase">
          {{ myPurchasedGifts }}
          {% for gift in myPurchasedGifts %}
            <li style="margin-bottom:5px;">
            {% ifnotequal gift.giftLink "" %} 
                <a href="{{ gift.giftLink }}" target="_blank">{{ gift.giftDescription|escape }}</a>
            {% else %}
                {{ gift.giftDescription|escape }}
            {% endifnotequal %}
            For
            {% for tuple in validNames %}
                {% ifequal gift.requester tuple.0 %}
                  {{ tuple.1 }}
                {% endifequal %}
            {% endfor %}
            {% ifequal gift.modifiedGift "Edited" %}
                <em class="giftEdited"> {note: this gift was edited at some point}</em>
            {% endifequal %}
            <a href="/removeGift?gid={{ thisGroup }}&id={{ gift.key.id }}&n={{ nickname }}"><em class="giftEdited">remove, I changed my mind</em></a>
          {% endfor %}
          </ul>
        
        {% else %}
          <h2>{{ nameInURL }}'s List</h2>
          {% comment %} This displays the gifts that this person has entered {% endcomment %}
          <form action="/purchaseGift" method="post">
          <ul class="uppercase" style="list-style:none; margin: 0; padding: 0;">
          {% for gifts in myGiftList %}
            <li style="margin-bottom:5px;">
            {% comment %} Check to see if this gift is already spoken for {% endcomment %}
            {% ifequal gifts.4 None %}
                <input type="radio" name="purchasedGift" value= "{{ gifts.0 }}"> 
            {% endifequal %}
            {% comment %} Check if the gift has a link attached {% endcomment %}
            {% ifnotequal gifts.3 "" %} 
                <a href="{{ gifts.3 }}" target="_blank">{{ gifts.2|escape }}</a>
            {% else %}
                {{ gifts.2|escape }}
            {% endifnotequal %}
            <em class="date">- added {{ gifts.1 }}</em>
            {% ifequal gifts.5 "Edited" %}
                <em class="giftEdited"> {note: this gift was prev. edited}</em>
            {% endifequal %}
          {% endfor %}
          </ul>
          <input type="hidden" name="_gid" value="{{ thisGroup }}">
          <input type="hidden" name="_n" value="{{ nickname }}">
          <input type="submit" value="Reserve Gift"></form>
        {% endifequal %}
      {% endifnotequal %}
    {% endifequal %}
    </div>
  </div>
{% endblock content %}
{% block splash %}
{% endblock splash %}
