@charset "utf-8";
/* CSS Document */
/*
	#ff55ff - pink
	#bbff66 - green
	#227788 - teal
	#003399 - blue
 */

body {
/*font-family: Helvetica, sans-serif;*/
font-family: Georgia;
font-size: 16px;
background: url(../images/background.gif) no-repeat right top;
line-height: 130%;
}

h1 { margin-bottom: 50px; }

a { color: #227788; }

#content {
margin: 0 0 0 10px;
width: 900px; 
}

p#login { 
padding: 0;
margin: 0;
font-size: 11px; 
float: right; 
}

form#group { margin: 0 0 20px 0; }

ul#navigation {
float: left; 
width: 120px;
margin: 0;
padding: 0;
list-style: none;
}

ul#navigation li { margin-bottom: 5px; }
ul#navigation li a {
color: #000000;
margin: 0;
text-decoration: none;
width: 100px;
height: 15px;
}

ul#navigation li a.blue, .blue {color: #227788;}
ul#navigation li a.red, .red {color: #227788;}
ul#navigation li a.yellow, .yellow {color: #227788;}
ul#navigation li a.green, .green {color: #227788;}
ul#navigation li a.linkblue:hover {color: #227788;}
ul#navigation li a.linkred:hover {color: #227788;}
ul#navigation li a.linkyellow:hover {color: #227788;}
ul#navigation li a.linkgreen:hover {color: #227788;}

#main {
margin: 0;
float: right;
width: 85%;
}
#main p { margin: 0 0 20px 0; padding: 0; }

h2 { 
margin: 0 0 20px 0; 
padding: 0; 
clear: right; 
border-bottom: solid 1px #000000; 
}

/*holds all contents of the page*/
	#container
	{
	margin:0px auto;
	padding:0;
	width:900px;
	height: auto;
	}

	#container-footer
	{
	margin:0px auto;
	padding:0;
	width:900px;
	height: auto;
	font-size: 13px;
	text-align: left;
	}

	.date {
		font-size: 12px;
		font-style: italic;
	}
