@charset "utf-8";
/* CSS Document */


/* HTML element styles */
body {
font-family: Georgia;
font-size: 16px;
background: url(../images/background.gif) no-repeat right top;
line-height: 130%;
margin:0px auto;
padding:0;
width:900px;
height: auto;
}

h1 { 
margin: 0 0 40px 0; 
text-align: center; 
}

h2 { 
margin: 0 0 20px 0; 
padding: 0; 
clear: right; 
border-bottom: solid 1px #000000; 
}

a { color: #227788; }

/* Login Links */
p#login { 
padding: 0;
margin: 5px 0 30px 0;
font-size: 11px; 
float: right; 
text-transform:uppercase;
}

/* Group selection form */
#group { margin: 0 0 30px 0; }
p#groupManagement { float: right; margin: 0 0 30px 0; }

/* Left-Navigation */
ul#navigation {
clear: both;
float: left; 
width: 120px;
margin: 0;
padding: 0;
list-style: none;
}
ul#navigation li { margin-bottom: 5px; }
ul#navigation li a {
color: #000000;
margin: 0;
text-decoration: none;
width: 100px;
height: 15px;
}
ul#navigation li a.green, .green {color: #227788;}
ul#navigation li a.linkgreen:hover {color: #227788;}

/* Main content area */
#main {
margin: 0 0 50px 0;
float: right;
width: 85%;
}
#main p { margin: 0 0 20px 0; padding: 0; }

/* Footer */
#container-footer {
clear: both;
font-size: 12px;
text-align: center;
}

.date {
font-size: 12px;
font-style: italic;
}
