{% extends "base.html" %}

{% block content %}
  <div class="content3">
    <h4>What's the story?</h4>
    <p>Managing gift wishlists, especially around the holidays, has always been a nightmarish task for members of my large family. Constant back-and-forth emails, phone calls, and the occasional verbal assualt were all ways we dealt with this madness. There had to be a better way...</p>
    <p>And so, Gifty was born.</p>
    <p>Now, sharing and reserving gifts for your friends and family is easy, fast, and painless. Check it out for free today!</p>

    
    <h4>Contributors:</h4>
    <a href="http://www.robojames.com">James Hurley</a> (Backend, frontend development & design)<br />
    <a href="http://www.kathrynbrisbin.com">Kathryn Brisbin</a> (HTML / CSS)<br />
    <a href="http://ohitsfine.blogspot.com">Anna Hurley</a> (Graphics / Logo)<br />
    
    <h4>Technology:</h4>
    Gifty is powered by <a href="http://code.google.com/appengine/">Google App Engine</a> using Python and Django.
    
    <h4>Disclosure:</h4>
    Gifty is a part-time personal project and does not represent the work of the employers for any of the contributors listed above.
    
    <h4>Thanks for visiting!</h4>
  </div>
{% endblock %}